header{
    width: 100%;
    height: 550px;
    background-color: $light-color;
    position: relative;
    top: -30px;
}

#scene-wrapper{
    width: 100%;
    overflow: hidden;
    text-align: center;
    height: inherit;
}

#scene{
    overflow: hidden;
    height: inherit;
}

#layer10{
    padding-top: 150px;
}

.particles-js-canvas-el{
  position: relative;
  bottom: 300px !important;
}
