.navbar {
    height: 60px;
}

.nav-item {
    margin: 0 10px 0 10px;
}

.navbar-toggler {
    border: none;
}

.navbar-trans {
    background-color: $light-color;
}

.nav-link {
    display: inline-block !important;
}