<div class="container-fluid courses-wrapper p-0" *ngIf="coursesMatadata$ | async">
  <div class="courses-menu" id="courses-menu">

    <ng-container *ngFor="let course of (coursesMatadata$ | async)">

      <div>
        <h3 class='course-title'>{{course.title}}</h3>
        <div id='{{course.id}}' *ngFor="let lesson of course.lessons">
          <button (click)='onLessonClick(course.id, lesson.id)' class='lesson-title'>
            {{lesson.title}}
          </button>
        </div>
      </div>


    </ng-container>

  </div>
  <div class="courses-content">
    <div id="course-text" class="text-justify">
      <div class="justify-content-center font-md my-3" id="courses-home" *ngIf="lessonHtml$ | async"
        [innerHTML]="lessonHtml$ | async">
      </div>
      <div class="justify-content-center font-md my-3" id="courses-home" *ngIf="!(lessonHtml$ | async)">
        <h2>Kursevi</h2>
        <ng-container *ngFor="let course of (coursesMatadata$ | async)">
          <h3 class='course-title'>{{course.title}}</h3>
          <p class="lead">{{course.description}}</p>

        </ng-container>
      </div>
    </div>
    <app-footer></app-footer>
  </div>

</div>