<nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top" (scroll)="scrolling($event)" [ngClass]="{'navbar-trans': scroll}">
    <button class="navbar-toggler navbar-toggler-right d-inline-block d-lg-none d-xl-none" type="button" id="btn-nav">
  <span class="navbar-toggler-icon"></span>
</button>
    <a class="navbar-brand" href="">
        <img src="../../../assets/image/geogebra-logo-name.png" height="30" alt="logo">
    </a>
    <div id="navigationLinks">
        <ul class="list-group list-group-horizontal navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link hvr-underline-from-center" routerLink='/home'>Početna</a>
            </li>
            <li class="nav-item">
                <a class="nav-link hvr-underline-from-center" routerLink='/activities'>Aktivnosti</a>
            </li>
            <li class="nav-item">
                <a class="nav-link hvr-underline-from-center" routerLink='/members'>Članovi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link hvr-underline-from-center" routerLink='/materials'>Materijali</a>
            </li>
            <li class="nav-item">
                <a class="nav-link hvr-underline-from-center" routerLink='/contact'>Kontakt</a>
            </li>
            <li class="nav-item">
                <a class="nav-link hvr-underline-from-center" data-state="courses" href="#">Kursevi</a>
            </li>
        </ul>
    </div>
</nav>